<div id="toolbar" class="control">
    <div>
        <div class="btn align-center icon-doc"></div>
        <div class="btn align-center icon-database"></div>
        <div class="btn align-center icon-search"></div>
    </div>
    <div class="bottom">
        <div class="btn align-center icon-terminal"></div>
        <div class="btn align-center icon-menu"></div>
    </div>
</div>

<div class="sc-container">
    <div class="sc-left-pane">
        explorer
    </div>
    <div class="control sc-split"></div>
    <div class="sc-right-pane">
        tabz
    </div>
</div>

<div id="footer"></div>