*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Consolas", 'Courier New', "monospace";
  font-size: 12px;
  line-height: 1.15;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #C5C5C5;
  text-align: left;
  background-color: #1E1E1E;
  font-family: sans-serif;
  font-size: 14px;
}

#loading-screen {
  margin-top: 20%; 
  font-size: 10em;
}

.align-center {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.control {
  color: #ADADAD;
  background-color: #333333;
}

.btn {
  cursor: pointer;
}
button {
  cursor: pointer;
}

button:active {
  border-style: inset !important;
}

button:focus, input:focus {
  outline: none !important;
}
div:focus {
  outline: #90acb693 1px dotted !important;
}
button:hover {
  color: white !important;
}

.btn:hover {
  color: white;
}
.btn.active {
  color: white;
}
.splitter-v {
  cursor: ew-resize;
  background-color: #252526;
  border: 1px #333333 dashed;

}
.splitter-h {
  cursor: ns-resize;
  background-color: #252526;
  border: 1px #333333 dashed;
}

.tabs {
  grid-row: 1;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
}
.tabs-container {
  grid-row: 2;
  margin-top: 1px;
}
.tab {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.droptarget {
  background-color: #3b3e41 !important;
}
.editable:focus {
  border: 1px inset #3b3e41;
  border-radius: 4px;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
.editable.invalid {
  padding-left: 2px;
  border: 1px red dotted;
}
.selected {
  background-color: #225075;
}