.sc-container {
  position: absolute;
  grid-template-columns: 200px 3px auto;
  display: grid;
  left: 0px;
  top: 0px;  
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sc-left-pane {
  grid-column: 1;
  padding-left: 50px;
}
.sc-split {
  grid-column: 2;
}
.sc-right-pane {
  grid-column: 3
}


.control {
  color: #ADADAD;
  background-color: #333333;
}
.splitter-h {
  cursor: ew-resize;
  background-color: #252526;
}

.panel {
  width: 100%;
  height: 100%;
  background-color: #252526;
}