.panel {
    background-color: #252526;
    pointer-events: none;
    margin-right: -3px;
    z-index: 1;
}
.panel-h {
    display: grid;
    grid-template-rows: 40px auto;
}
.panel-header {
    background-color: #1E1E1E;
    font-size: 10px;
    grid-row: 1;

}
.panel-header-b {
    display: grid; 
    grid-template-columns: auto auto; 
    justify-content: space-between;
}
.panel-title {
    margin-left: 10px;
    padding-top: 12px;
    overflow: hidden;
    white-space: nowrap;
}
.panel-title-btns {
    pointer-events: initial;
    font-size: 16px;
    padding-top: 6px;
    margin-right: 10px;
}
.shadow-line {
    background-color: #1E1E1E;
    height: 1px;
    box-shadow: 0px 0px 8px 1px #000000;
}
.panel-content {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel-item {
    font-size: 12px;
    padding-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
/*
.panel-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/