#toolbar {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 0px;
    height: 100%;
    font-size: 28px;
    padding-top: 10px;
    padding-left: 3px;
}
.tbarBtn {
    cursor: pointer
}
.tbarBtn:hover {
    color: white
}
.bottomBtn {
    position: absolute;
    bottom: 24px;
    width: 100%;
}
