#toolbar {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 0px;
    height: 100%;
    font-size: 28px;
    padding-top: 10px;
}
#toolbar .btn {
    margin: 2px;
}
.bottom-btns {
    position: absolute;
    bottom: 24px;
    width: 100%;
}
